@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared Style */
*{
    font-family: "Work Sans", serif; 
}

.btn-primary{
    color: aliceblue;
    border-radius: 8px;
    background: #FF900E;
    padding: 15px 25px;
    border: none ;
    font-size: 1rem;
    font-weight: 600px;
    cursor: pointer;
    width: 160px;
    height: 53px;
}

/* Header style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.nav-title{
    color: #131313;
    font-size: 2.7rem;
    font-weight: 700;

}
nav > ul{
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
     
}
nav li a {
    text-decoration: none;
    color: black;

}

/* banner style */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner img{
    margin-top: 20px ;
    width: 100%;
}
.banner-title{
    color:#131313;
    font-size: 4rem;
    font-weight: 700px;
}
.banner-des{
    color: #131313;
}
/* Main Section Style */
main{
    max-width: 800px;
    margin: 0 auto;
    background: #F8FAFC;
}
.teams-container{
    margin-top: 2rem;
    display: flex;
    /* justify-content:center; */
    align-items: center;
    box-shadow:20px 20px rgba(0, 0, 0, 0.06);

}
.teams-img-container>img{
    width: 200px;
    height: 200px;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: .60rem;
}
.teams-content{
margin-left:70px;
}

/* Span Style  */
.typography{
    color:#727272;
    font-family: "Work Sans";
    font-size: 35px;
    font-weight: 500;
}

.of-our{
    color: #131313;
    font-family: "Work Sans";
    font-size: 35px;
    font-weight: 700;
}
.features{
    color: #FF900E;
    font-family: "Work Sans";
    font-size: 35px;
    font-weight: 700;
}

.teams-des{
    color: #727272;
    font-size: 10px;
    font-weight: 400;
}



/* reponsive media quaries */
/* Mobile device responsive */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column;
    }
    .teams-img-container>img{
        width: 150px;
        height: 150px;
    }  
    .teams-content{
        margin-left:10px;
        }
    #btn{
        margin-left: 90px;
    }
    #res-title{
        margin-left: 20px;
    }
    .features{
        margin-left: 70px;
    }
}

/* Tablet or Medium Device Responsive  */

@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    } 
    nav{
        flex-direction: column;
    } 
}
