@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared Style */
*{
    font-family: "Work Sans", serif; 
}

.btn-primary{
    color: aliceblue;
    border-radius: 8px;
    background: #FF900E;
    padding: 15px 25px;
    border: none ;
    font-size: 1rem;
    font-weight: 600px;
    cursor: pointer;
    width: 160px;
    height: 53px;
}

/* Header style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.nav-title {
    color: #131313;
    font-size: 2.7rem;
    font-weight: 700;

}
nav > ul{
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
     
}
nav li a {
    text-decoration: none;
    color: black;

}

/* banner style */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner img{
    margin-top: 20px ;
    width: 100%;
}
.banner-title{
    color:#131313;
    font-size: 4rem;
    font-weight: 700px;
}
.banner-des{
    color: #131313;
}
/* Main Section Style */
main{
    max-width: 800px;
    margin: 50px auto;
}
.teams-container{
    background: #F8FAFC;
    display: flex;
    align-items: center;
    box-shadow:20px 20px rgba(0, 0, 0, 0.06);

}
.teams-img-container>img{
    width: 200px;
    height: 200px;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: .60rem;
}
.teams-content{
margin-left:70px;
}

/* Span Style  */
.typography{
    color:#727272;
    font-family: "Work Sans";
    font-size: 35px;
    font-weight: 500;
}

.of-our{
    color: #131313;
    font-family: "Work Sans";
    font-size: 35px;
    font-weight: 700;
}
.features{
    color: #FF900E;
    font-family: "Work Sans";
    font-size: 35px;
    font-weight: 700;
}

.teams-des{
    color: #727272;
    font-size: 10px;
    font-weight: 400;
}

/* Fact Section */
.fact-title,.grey-text{
    margin-left: -60px;
}

.fact-title{
    color:#131313;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
}
.grey-text{
    width: 542px;
    color:#727272;
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
}

.fact-card-container{
    display: flex;
    justify-content: space-between;
}
.card{
    border-radius: 5px;
    border: 1px solid salmon;
    width: 100px;
    height: 100px;
    padding: 25px  ;
    text-align: center;
}
.card-title{
    color:#727272;
    font-size: 10px;
    font-weight: 600;
}
.card-stats{
    color: #424242;
    font-size: 15px;
    font-weight: 600;
}

/* Sponsors section style */

.sponsors-container{
    max-width: 900px;
}

.sponsors-title{
    color:#131313;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}
.sponsors-des{
    max-width: 402px;
    color: #727272;
    font-size: 12px;
    font-weight: 400px;
    text-align: center;
    margin-left: 200px;
    margin-top: 5px;
}
.sponsors-img-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 80px;
    margin-top: 40px;

}
.sponsors-img{
    width: 90px;
    height: 30px;
}
/* Footer Section */
.footer{
    border-radius: 8px;
    background: #a35c05;
    height: 40px;
    text-align: center;
    margin-top: 3px;
}
.footer p{
    padding: 10px;
}







/* reponsive media quaries */
/* Mobile device responsive */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column;
    }
    .teams-img-container>img{
        width: 150px;
        height: 150px;
    }  
    .teams-content{
        margin-left:10px;
        }
    #btn{
        margin-left: 100px;
    }
    #res-title{
        margin-left: 30px;
    }
    .features{
        margin-left: 80px;
    }
    .fact-card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .fact-title{
        color:#131313;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 0px;
        margin-left: 140px;
    }
    .grey-text{
        width: 242px;
        color:#727272;
        font-size: 12px;
        font-weight: 400;
        margin-top: 20px;
        margin-left: 80px;
    }
    .card{
        margin-left: 18px;
    }
    .sponsors-des{
        margin-left: 15px;
    }
    .sponsors-img-container{
        /* max-width: 300px; */
        grid-template-columns: repeat(5,1fr);
        column-gap: 20px;
        margin-left: 5px;
        margin-top: 30px;
    }
    .sponsors-img{
        width: 50px;
        height: 25px;
    }
}

















/* Tablet or Medium Device Responsive  */

@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    } 
    nav{
        flex-direction: column;
    }
    .fact-title,.grey-text{
        margin-left: 240px;
        width: 300px;
        text-align: center;

    }
    .sponsors-img-container{
        column-gap: 15px;
        margin-left: 20px;
    }

}
